:root {
    --description-text-color: rgb(126, 126, 126);
}

/* CLASSES */
.banner {
    padding: var(--banner-top-pad) 0 10px 0;
    text-align: center;
}

.game-status {
    font-size: calc(var(--master-font-size) * var(--status-factor));
    text-align: center;
    transition: font-size 250ms ease;
}

.subtitle {
    font-size: calc(var(--master-font-size) * var(--subtitle-factor));
    transition: font-size 250ms ease;
    font-style: italic;
}
