:root {
    --description-text-color: rgb(126, 126, 126);
}

/* CLASSES */
.banner {
    padding: var(--banner-top-pad) 0 10px 0;
    text-align: center;
}

/* for the settings buttons */
.animated-cell {
    animation: subtle-grow 250ms ease-in;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(5, 0fr);
    grid-gap: 5px;

    width: fit-content;
    margin-right: auto !important;
    margin-left: auto !important;
    margin-bottom: 15px;
}

.game-board {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.game-btn {
    border: none;
    border-radius: 100px;

    height: calc(var(--master-font-size) * 2 * var(--btn-factor));
    transition: height var(--transition-dur) ease;
}

.game-btn:hover { 
    background-color: transparent;
}

.game-btns {
    display: grid;
    grid-template-columns: repeat(5, 0fr);
    grid-gap: 5px;

    align-items: center;
    justify-content: center;
}

.game-cell {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;

    width: calc(var(--master-font-size) * 2 * var(--square-factor));
    height: calc(var(--master-font-size) * 2 * var(--square-factor));
    margin: 5px 0;

    text-align: center;
    text-transform: uppercase;

    padding: 5px;

    border: 2px solid var(--border-color);
    background-color: var(--square-color);
    color: var(--text-color);
    
    font-size: calc(var(--master-font-size) * var(--square-factor));

    pointer-events: none;

    transition: background-color 250ms ease;
}

.game-grid {
    padding: 5px;
    box-sizing: border-box;
    width: fit-content;
    margin-right: auto !important;
    margin-left: auto !important;
}

.game-row {
    display: grid;
    grid-template-columns: repeat(5, 0fr);
    grid-gap: 5px;
    padding: 0 5px;
}

.game-status {
    font-size: calc(var(--master-font-size) * var(--status-factor));
    text-align: center;
    transition: font-size 250ms ease;
}

.game-svg {
    height: 100% !important;

    transform: scale(1);
    transition: transform 250ms ease;
}

.game-btn:hover > .game-svg {
    cursor: pointer;
    transform: scale(1.4);
}

.helper-grid {
    width: fit-content;
}

.highlighted {
    border: 1px solid cyan;
    border-radius: 5px;
}

.modal-header-1 {
    font-size: calc(var(--master-font-size) * var(--subtitle-factor));
    text-align: center;
    border-bottom: 1px solid var(--border-color);

    margin: 2px 0;
}

.modal-header-2 {
    font-size: calc(var(--master-font-size) * var(--subtitle-factor) * 0.75);
    margin: 10px 0;
}

.modal-description {
    font-style: italic;
    font-weight: lighter;
    
    color: var(--description-text-color);
}

.correct {
    background-color: var(--correct-color) !important;
}

.present {
    background-color: var(--present-color);
}

.incorrect {
    background-color: var(--incorrect-color);
}

.settings-block {
    display: block;
}

.settings-inline {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.setting-btn {
    margin: 5px;
}

.setting-text {
    display: inline-block;
}

.spin {
    animation: spin 2s infinite linear;
}

.stats {
    display: flex;
}

.stat {
    width: 25%;
}

.stat-label {
    font-size: calc(var(--master-font-size) * var(--key-factor));
}

.subtitle {
    font-size: calc(var(--master-font-size) * var(--subtitle-factor));
    transition: font-size 250ms ease;
    font-style: italic;
}

/* ANIMATIONS */
@keyframes subtle-grow {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}