/* for the settings buttons */
.animated-cell {
    animation: subtle-grow 250ms ease-in;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(5, 0fr);
    grid-gap: 5px;

    width: fit-content;
    margin-right: auto !important;
    margin-left: auto !important;
    margin-bottom: 15px;
}

.game-btn {
    border: none;
    border-radius: 100px;

    height: calc(var(--master-font-size) * 2 * var(--btn-factor));
    transition: height var(--transition-dur) ease;
}

.game-btn:hover {
    background-color: transparent;
}

.game-btns {
    display: grid;
    grid-template-columns: repeat(6, 0fr);
    grid-gap: 5px;

    align-items: center;
    justify-content: center;
}

.game-svg {
    height: 100% !important;

    transform: scale(1);
    transition: transform 250ms ease;
}

.game-btn:hover>.game-svg {
    cursor: pointer;
    transform: scale(1.4);
}

.helper-grid {
    width: fit-content;
    margin: auto;
    /* center */
}

.modal-h1 {
    font-size: calc(var(--master-font-size) * var(--subtitle-factor));
    text-align: center;
    border-bottom: 1px solid var(--border-color);

    margin: 2px 0;
}

.modal-h2 {
    font-size: calc(var(--master-font-size) * var(--subtitle-factor) * 0.75);
    margin: 10px 0;
}

.modal-description {
    font-style: italic;
    font-weight: lighter;

    color: var(--description-text-color);
}

.settings-block {
    display: block;
}

.settings-inline {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.setting-btn {
    margin: 5px;
}

.setting-text {
    display: inline-block;
}

.spin {
    animation: spin 2s infinite linear;
}

.stats {
    display: flex;
}

.stat {
    width: 25%;
}

.stat-label {
    font-size: calc(var(--master-font-size) * var(--stat-label-factor));
    color: var(--description-text-color);
}

/* ANIMATIONS */
@keyframes subtle-grow {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}