#grid,
.grid-row {
    pointer-events: none;
    /* fix to pass through click event */
}

.game-cell {
    pointer-events: auto;
    /* fix to pass through click event */
}

.word-div {
    font-family: 'Courier New', Courier, monospace;
}